<%- include('./includes/head.ejs') %>
<h4 class="text-center card-title">Upcoming Group Flights</h4>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="padding: 12px;">Date</th>
                <th style="padding: 12px;">Name</th>
                <th>Route</th>
                <th>Roster</th>
                <th>Open For Booking</th>
                <% if (isAdmin) { %>
                <th>Manage</th>
                <% } %>
            </tr>
        </thead>
        <% for(i=0; i<Object.keys(data).length; i++) { %>
        <tbody>
            <tr>
                <td><%= data[i].flight_date.toString().split(' 00:00:00')[0] %></td>
                <td><%= data[i].flight_name %></td>
                <td><%= data[i].flight_departure %>-<%= data[i].flight_arrival %></td>
                <td><a href="/flights/<%= data[i].url %>">Click Here</a></td>
                <% if (data[i].open) { %>
                <td><a href="/book/<%= data[i].url %>">Book Now</a></td>
                <% } else { %>
                <td>Closed</td>
                <% } %>
                <% if (isAdmin) { %>
                <td><a href="/manage/<%= data[i].url %>">Manage Flight</a></td>
                <% } %>    
            </tr>
        </tbody>
        <% } %>
    </table>
    <% if (isAdmin) { %>
        <a class="text-center" href="/new-flight">Create New</a>
    <% } %>
</div>
<%- include('./includes/end.ejs') %>