<%- include('./includes/head.ejs') %>
<h4 class="card-title">Manage Flight</h4>
<h6 class="text-muted card-subtitle mb-2">Only edit fields you want to change.</h6>
<div class="form-holder">
    <form class="new-flight" action="/manage" method="POST">
        <input type="hidden" name="id" id="id" value="<%= id %>">
        <div class="form-group">
            <label for="date">Flight Date</label> 
            <input id="date" name="date" placeholder="YYYY-MM-DD" type="text" class="form-control" required="required" value="<%= date %>">
        </div>
        <div class="form-group">
            <label for="date">Flight Name</label> 
            <input id="name" name="name" placeholder="January Group Flight" type="text" class="form-control" required="required" value="<%= data.flight_name %>">
        </div>
        <div class="form-group">
            <label for="departure">Airport 1 ICAO</label> 
            <input id="departure" name="departure" placeholder="EGLL" type="text" class="form-control" required="required" value="<%= data.flight_departure %>">
        </div>
        <div class="form-group">
            <label for="arrival">Airport 2 ICAO</label> 
            <input id="arrival" name="arrival" placeholder="EHAM" type="text" class="form-control" required="required" value="<%= data.flight_arrival %>">
        </div>
        <div class="form-group">
            <label for="gates1">Airport 1 Departure Gates</label> 
            <input id="gates1" name="gates1" placeholder="A1, A2, A3, A4, B1, B2" type="text" aria-describedby="gates1HelpBlock" class="form-control" required="required" value="<%= gates1 %>"> 
            <span id="gates1HelpBlock" class="form-text text-muted">Seperate with a comma and a space.</span>
        </div>
        <div class="form-group">
            <label for="both">Enable Departures from Both Airports</label> 
            <div>
                <select id="both" name="both" aria-describedby="bothHelpBlock" class="custom-select" required="required">
                    <% if (both == 2) { %>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                    <% } else { %>
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                    <% } %>
                </select> 
                <span id="bothHelpBlock" class="form-text text-muted">If no is selected, Airport 1 will be the departure airport.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="gates2">Airport 2 Departure Gates</label> 
            <input id="gates2" name="gates2" placeholder="A1, A2, A3, A4, B1, B2" type="text" class="form-control" aria-describedby="gates2HelpBlock" value="<%= gates2 %>"> 
            <span id="gates2HelpBlock" class="form-text text-muted">Only use if departures are enabled from both airports.</span>
        </div>
        <div class="form-group">
            <label for="callsign">Aircraft Callsign</label> 
            <input id="callsign" name="callsign" placeholder="VCP" type="text" class="form-control" required="required" aria-describedby="callsignHelpBlock" value="<%= data.flight_callsign %>"> 
            <span id="callsignHelpBlock" class="form-text text-muted">This callsign will be enforced for all members of this flight.</span>
        </div>                 
        <div class="form-group">
            <button name="submit" type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>
<%- include('./includes/end.ejs') %>